@font-face {
  font-family: "Pixel";
  src: url("../fonts/pixel.ttf");
}

:root {
  --color-white: #fff;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Pixel";
  color: var(--color-white);
  font-size: 20px;
  background: url("../images/layout/game-bg-1.png") no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

#game-canvas {
  border: 10px dashed #3d3d3d;
  background: linear-gradient(to top, gray, 100px, transparent 5px),
    linear-gradient(to right, gray, 100px, transparent 5px),
    linear-gradient(to bottom, gray, 100px, transparent 5px),
    linear-gradient(to left, gray, 100px, transparent 5px);
  background-origin: border-box;
}

.game {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25), transparent);
  padding: 3rem 0;
}

.game > div {
  max-width: 990px;
  margin: 0 auto;
}

.game-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.game-container {
  display: flex;
  justify-content: space-between;
}

.game-text {
  width: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background: rgba(2, 32, 52, 0.9);
  padding: 3rem;
  color: #fff;
  text-align: center;
}

.game-lives {
  display: flex;
  align-items: center;
}

.game-lives > p {
  margin-right: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.modal-dark {
  color: #fff;
  background: rgb(2, 22, 49);
}

.modal-body {
  text-align: center;
  max-width: 40rem;
}

.modal-title {
  margin-bottom: 1rem;
}

.modal-text,
.modal-text p {
  margin-bottom: 1rem;
}

.modal-list {
  padding: 2rem 0;
  list-style-type: none;
}

.modal-list li {
  margin-bottom: 0.25rem;
}

.modal-list li::before {
  margin-right: 0.5rem;
}

.modal-list.pumpkin li::before {
  content: "🎃";
}

[data-modal="hidden"] {
  display: none;
}

[data-modal="visible"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.similar-live-container .hide {
  opacity: 0.5;
}

.btn {
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  -ms-transition: all 0s ease-out;
  transition: all 0s ease-out;
  min-width: 10rem;
  height: 3rem;
  display: block;
  font-family: "Pixel";
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  padding: 4px 20px 0;
  margin: 10px auto;
  position: relative;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn:active {
  outline: none;
}

.btn--blue {
  background: #3b5999;

  -webkit-box-shadow: 0px 5px 0px 0px #2e4476;
  box-shadow: 0px 5px 0px 0px #2e4476;
}

.btn--blue:active {
  top: 3px;
}

.btn--blue:active {
  -webkit-box-shadow: 0px 2px 0px 0px #2e4476;
  box-shadow: 0px 2px 0px 0px #2e4476;
}
